<!-- Input fields for search terms -->
<div *ngFor="let searchTerm of searchTerms; let i = index" class="search-box">
  <input type="text" class="search-input" [(ngModel)]="searchTerms[i]" name="search{{i}}" placeholder="Enter Serial Number" autofocus>
  <button *ngIf="i > 0" (click)="removeSearchInput(i)" class="remove-button">-</button>
</div>
<button (click)="addSearchInput()" class="add-button">Add Another</button>
<button (click)="onSearchAll()" class="search-all-button">Search All</button>

<!-- Display the fetched product information -->

<!-- Search inputs and Search All button remain the same -->
<!-- Table for displaying fetched product information -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">ITEM</th>
      <th scope="col">IMAGE</th>
      <th scope="col">DESCRIPTION</th>
      <th scope="col">COLOR</th>
      <th scope="col">PRICE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let productInfo of productInfos">
      <td>{{ productInfo.name }}</td>
      <td> <!-- Image will go here --> </td>
      <td>{{ productInfo.description }}</td>
      <td> <!-- Color will go here --> </td>
      <td>{{ productInfo.originalPrice }}</td> <!-- Assuming you have a price field -->
    </tr>
  </tbody>
</table>
