<!-- Inside search-bar.component.html -->

<form class="search-form" (submit)="onSearch($event)">
  <div class="search-box">
    <input type="text" class="search-input" [(ngModel)]="searchTerm" name="search" placeholder="Enter Serial Number..." autofocus>
    <button type="submit" class="search-button">
      <i class="fas fa-search"></i>
    </button>
  </div>
</form>

<!-- Display the fetched product information -->
<div *ngFor="let productInfo of productInfos" class="product-info">
  <h2>{{ productInfo.name }}</h2>
  <p>{{ productInfo.description }}</p>
  <p>Original Price: {{ productInfo.originalPrice }}</p>
  <p>Sale Price: {{ productInfo.salePrice }}</p>
</div>
